---
import Layout from "/src/layouts/Layout.astro";
import AdminInput from "/src/components/AdminInput.svelte"
import Prompt from "/src/components/Prompt.svelte";
import Timer from "/src/components/Timer.svelte";
import AdminNameStore from "/src/components/AdminNameStore.svelte";
---

<Layout title="STW Admin">
    <main class="container">
        <!--<h4 class="text-gradient">Spin the wheel Admin</h4>-->
            <Prompt client:only/>
            <Timer client:only/>
			<AdminInput client:only/>
			<AdminNameStore client:only/>
    </main>
</Layout>
